<div class="form-layout">

    <form id="form-cadastro-produto" >

        <mat-form-field class="component-width">
            <mat-label>Código</mat-label>
            <input matInput id="codigoProduto" name="codigoProduto" placeholder="Código" [(ngModel)]="produtoDTO.idProduto" disabled>
            <br/>
        </mat-form-field>
    
        <mat-form-field class="component-width">
            <mat-label>Descrição</mat-label>
            <input matInput id="descricaoProduto" name="descricaoProduto" placeholder="Descrição" [(ngModel)]="produtoDTO.descricao" >
            <br/>
        </mat-form-field>

        <mat-form-field class="component-width">
            <mat-label>Valor</mat-label>
            <input matInput currencyMask id="valorProduto" name="valorProduto" placeholder="Valor"  [(ngModel)]="produtoDTO.valor" 
            [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }" />
            <br/>
        </mat-form-field>

        <mat-form-field class="component-width">
            <mat-label>Data Fabricação</mat-label>
            <input id="dataFabricacao"  name="dataFabricacao" matInput [matDatepicker]="picker" (dateChange)="datepickerEvent($event)">
            <mat-hint>dd/mm/yyyy</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

    </form>

</div>
