<div class="form-layout">

    <form id="form-cadastro-produto" >

        <mat-form-field class="component-width">
            <mat-label>Código</mat-label>
            <input matInput id="codigoProduto" name="codigoProduto" placeholder="Código" [(ngModel)]="produtoDTO!.idProduto" disabled>
            <br/>
        </mat-form-field>
    
        <mat-form-field class="component-width">
            <mat-label>Descrição</mat-label>
            <input matInput id="descricaoProduto" name="descricaoProduto" placeholder="Descrição" [(ngModel)]="produtoDTO!.descricao" >
            <br/>
        </mat-form-field>

        <mat-form-field class="component-width">
            <mat-label>Valor</mat-label>
            <input matInput currencyMask id="valorProduto" name="valorProduto" placeholder="Valor" [(ngModel)]="produtoDTO!.valor" 
                   [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }" />
            <br/>
        </mat-form-field>

        <mat-form-field class="component-width">
            <mat-label>Data Fabricação</mat-label>
            <input id="dataFabricacao" name="dataFabricacao" matInput [matDatepicker]="picker" [(ngModel)]="produtoDTO!.dataFabricacao" (dateChange)="datepickerEvent($event)">
            <mat-hint>dd/mm/yyyy</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <br/>
        <div style="margin-top: 10px;">
            <button mat-raised-button color="primary" style="margin-left: 10px;" (click)="salvarProduto()">Salvar</button>
            <button mat-raised-button color="primary" style="margin-left: 10px;" (click)="limparTela()">Limpar</button>
        </div>

    </form>
</div>

<table mat-table [dataSource]="listaProdutos" class="mat-elevation-z8" style="margin-top: 10px;">
        
    <ng-container matColumnDef="idProduto">
        <th mat-header-cell *matHeaderCellDef> Codigo </th>
        <td mat-cell *matCellDef="let produto"> {{produto.idProduto}} </td>
    </ng-container>

    <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef> Descricao </th>
        <td mat-cell *matCellDef="let produto"> {{produto.descricao}} </td>
    </ng-container>

    <ng-container matColumnDef="dataCadastro">
        <th mat-header-cell *matHeaderCellDef> Data Fabricacao </th>
        <td mat-cell *matCellDef="let produto"> {{produto.dataFabricacao | date: 'dd/MM/yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef> Valor </th>
        <td mat-cell *matCellDef="let produto"> {{produto.valor}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Editar </th>
        <td mat-cell *matCellDef="let produto">
            <button mat-raised-button color="primary" (click)="editarProduto(produto)" style="margin-right: 20px;">Editar</button>
            <button mat-raised-button color="primary" (click)="excluirProduto(produto)">Excluir</button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>


