<br/>
<div id="box">
    <h3 class="default-font" >Login</h3>
    <form id="form-update-password" >

        <mat-form-field class="mat-form-field-size" appearance="fill">
            <mat-label>Login </mat-label>
            <input matInput id="login" placeholder="Login" [(ngModel)]="loginDTO.login" name="login" required>
            <br/>
        </mat-form-field>

        <mat-form-field class="mat-form-field-size" appearance="fill">
            <mat-label>Senha </mat-label>
            <input matInput id="password"  type="password" placeholder="Senha" [(ngModel)]="loginDTO.password" name="login" required>
            <br/>
        </mat-form-field>

        <br/>
        <button mat-raised-button color="primary" (click)="efetuarLogin()">Login</button>
    </form>
</div>